@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }

    #p-logo a {
        filter: invert(1);
    }

    svg {
        fill: #fff !important;
    }

    .box-Update, .box-Primary_sources, .box-More_citations_needed, .box-More_citations_needed tbody tr td, .box-Expert_needed, .box-Merge_from, .box-Multiple_issues, .box-More_footnotes {
        border: 0.0em solid #111213 !important;
        box-shadow: #111213 0em 0em 1em !important;
    }

    table {
        border-color: #333 !important;
    }

    .mw-parser-output .mp-bordered, .mw-parser-output .mp-h2, body.skin-timeless .mw-parser-output .mp-h2 {
        border-color: #333 !important;

    }

    .thumbinner, .thumbimage, .infobox, .toc, .sidebar, table .sidebar, .mwe-popups, .mwe-popups-container {
        box-shadow: 0px 0px 30px 20px rgba(0,0,0,var(--dark-box-shadow)) !important;
        background-color: var(--dark-bg) !important;
    }

    #mw-panel {
        box-shadow: 0px 0px 30px 20px rgba(0,0,0,var(--dark-box-shadow)) !important;
    }

    #searchInput, #searchform, #simpleSearch {
        border-bottom: 1em #fff !important;    
        color:#777 !important;
        background-color: var(--dark-box) !important;
    }

    #p-search {
        border-bottom: 1em #000 !important;
        box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.125);
    }

    li::before, li::marker {
        color:white !important;
    }
    
    .wikitable {
        border: 1px solid #333 !important;
    }

    .infobox {
        background-color: var(--dark-bg) !important;
    }
    
    html, body, #mw-head, #mw-panel, .mw-body, table, div :not(a, a span, a small, .bar, .annot-nude *), .thumbinner {
        background-color: var(--dark-bg) !important;
        color:white !important;
    }

    .toc, .toccolours {
        border: 0.0em solid #111213 !important;
        background-color: var(--dark-bg) !important;
    }
    
    a, p a, a span, .toc ul li a, li a, td a, .reference a, .hatnote a, a span i {
        color:#03a5fc !important;
    }
}