.mw-body-content {
    margin-left: 15em !important;
    margin-right: 20em !important;
    border: 0px solid #fff !important;
}

p {
    text-align: justify !important;
    text-justify: newspaper;
}
.firstHeading {
    margin-left: 7.2em !important;
    border-bottom: 0px !important;
}

#mw-head, #mw-head-base, #mw-page-base {
    visibility:hidden !important;
}

#mw-searchButton, #searchButton {
    border-radius: 1em !important;
}

#searchInput, #searchform, #simpleSearch {
    border-bottom: 1em #fff !important;
    background-color: #333 !important;
    color:#777;
    border-radius: 1em !important;
}

#searchInput {
    padding-left: 1em !important;
}

#p-search {
    border-bottom: 1em #fff !important;
    border-radius: 1em !important;
    visibility: visible !important;
    margin-right: 20em !important;
    box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.125);
    border-bottom: 1em #fff !important;
}

h1, h2 {
    border: 0px !important;
}

input {
    border: 0px !important;
    border-bottom: 1em #fff !important;
}


.mw-body {
    border:0px !important;
}

img {
    border-radius: 0.5em !important;
}

.infobox, .thumbinner, .sidebar, table .sidebar {
    padding: 1em !important;
}

.thumbinner, .tsingle, .thumbimage, .infobox, .sidebar, table .sidebar {
    border: 0px !important;
}

table.ambox {
    background-color: #fff !important;
}

@media (prefers-color-scheme: light) {
    .box-Update, .box-Primary_sources, .box-More_citations_needed, .box-Expert_needed, .box-Merge_from, .box-Multiple_issues, .box-More_footnotes {
        border: 0.0em solid #111213 !important;
        border-top: 0px !important;
        border-bottom:0px !important;
        border-right:0px !important;
        box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.025);
        border-radius: 1em !important;
        background-color: #fff !important;
        padding: 1em;
    }

    .thumbinner, .infobox, .toc, .sidebar, table .sidebar {
        border-radius: 1em !important;
        border: 0.0em solid #000 !important;
        box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.025);
        background-color: #fff !important;
    }
    
    #mw-panel {
        padding:2em !important;
        box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.025);
    }

    :root {
        color-scheme: light;
    }

    html, body, #mw-head, #mw-panel {
        background-color: #fff !important;
    }

    .toc, .toccolours {
        border: 0.0em solid #ddd !important;
        font-size: 95% !important;
        padding: 2em !important;
        border-radius: 0.5em !important;
        font-size: 95% !important;
        background-color: #fff !important;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

@media (prefers-color-scheme: dark) {
    .box-Update, .box-Primary_sources, .box-More_citations_needed, .box-Expert_needed, .box-Merge_from, .box-Multiple_issues, .box-More_footnotes {
        border: 0.0em solid #111213 !important;
        border-top: 0px !important;
        border-bottom:0px !important;
        border-right:0px !important;
        box-shadow: #111213 0em 0em 1em !important;
        border-radius: 1em !important;
    }

    a, p a, a span, .toc ul li a, li a, td a, .reference a, .hatnote a, a span i {
        color:#03a5fc !important;
    }

    .thumbinner, .thumbimage, .infobox, .toc, .sidebar, table .sidebar {
        border-radius: 1em !important;
        border: 0.0em solid #000 !important;
        box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.25);
    }

    #mw-panel {
        padding:2em !important;
        box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.25);
    }

    :root {
        color-scheme: dark;
    }

    li::before, li::marker {
        color:white !important;
    }

    ul {
        list-style-image: none !important;
    }
    
    .wikitable {
        border: 1px solid #333 !important;
    }

    .infobox {
        padding: 1em !important;
        background-color: #181a1b !important;
    }
    
    html, body, #mw-head, #mw-panel, .mw-body, table, div * {
        background-color: #181a1b !important;
        color:white !important;
    }

    .toc, .toccolours {
        border: 0.0em solid #111213 !important;
        background-color: #181a1b !important;
        padding: 2em !important;
        font-size: 95% !important;
        border-radius: 0.5em !important;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .mw-body {
        border: 1px solid #000 !important;
        border-top:0px !important;
    }
}

.mwe-popups {
    border-radius: 2em !important;
}

.vector-menu-tabs, .vector-menu-tabs li, .vector-menu-tabs a, #mw-head .vector-menu-dropdown h3 {
    background-image: none !important;
}