:root {
    --light-bg: #fff;
    --dark-bg: #121212;
    --light-box: #fff;
    --dark-box: #333333;
    --dark-box-shadow: 0.5;
}

@font-face {
    font-family: 'New York Small';
    src: url('https://github.com/auranticus/New-York-fonts/blob/master/NewYorkSmall-Regular.otf?raw=true');
}

html, body, #mw-head, #mw-panel {
    font-size: 12pt;
}

#siteSub {
    margin-left: 15vw !important;
}

ul {
    list-style-image: none !important;
}

.infobox {
    padding: 1em !important;
}

.mwe-popups {
    border-radius: 2em !important;
}

.vector-menu-tabs, .vector-menu-tabs li, .vector-menu-tabs a, #mw-head .vector-menu-dropdown h3 {
    background-image: none !important;
}

.mw-body-content {
    margin-left: 15vw !important;
    margin-right: 20vw !important;
    border: 0px solid #fff !important;
}

.toc, .toccolours {
    font-size: 95% !important;
    padding: 2em !important;
    border-radius: 0.5em !important;
    font-size: 95% !important;
    width: 50%;
}

p {
    text-align: justify !important;
    text-justify: newspaper;
}
.firstHeading {
    margin-left: 14.9vw !important;
    border-bottom: 0px !important;
}

.mw-highlight pre {
    border-radius: 0.5em !important;
}

#mw-head, #mw-head-base, #mw-page-base {
    visibility:hidden !important;
}

#mw-panel {
    padding:2em !important;
}

#mw-searchButton, #searchButton {
    border-radius: 1em !important;
}

#searchInput, #searchform, #simpleSearch {
    border-radius: 1em !important;
}

#searchInput {
    padding-left: 1em !important;
}

#p-search {
    border-radius: 1em !important;
    visibility: visible !important;
    margin-right: 20em !important;
}

#p-search form {
    margin: 0 !important;
}

h1, h2 {
    border: 0px !important;
}

input {
    border: 0px !important;
    border-bottom: 1em #fff !important;
}

.thumbinner, .thumbimage, .infobox, .toc, .sidebar, table .sidebar {
    border-radius: 0.5em !important;
    border: 0.0em solid #000 !important;
}

.mw-body {
    border:0px !important;
}

.mw-body {
    border-top:0px !important;
}

img {
    border-radius: 0.5em !important;
}

.infobox, .thumbinner, .sidebar, table .sidebar {
    padding: 1em !important;
}

.thumbinner, .tsingle, .thumbimage, .infobox, .sidebar, table .sidebar {
    border: 0px !important;
}

.box-Update, .box-Primary_sources, .box-More_citations_needed, .box-Expert_needed, .box-Merge_from, .box-Multiple_issues, .box-No_footnotes, .box-More_footnotes {
    display: none !important;
    border-top: 0px !important;
    border-bottom:0px !important;
    border-right:0px !important;
    border-radius: 1em !important;
    padding: 1em;
}


@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
    }
    
    .box-Update, .box-Primary_sources, .box-More_citations_needed, .box-Expert_needed, .box-Merge_from, .box-Multiple_issues, .box-More_footnotes {
        border: 0.0em solid #111213 !important;
        box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.025);
        background-color: #fff !important;
    }

    table.ambox {
        background-color: #fff !important;
    }

    .thumbinner, .infobox, .toc, .sidebar, table .sidebar {
        box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.025);
        background-color: #fff !important;
    }
    
    #mw-panel {
        box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.025);
    }

    #searchInput, #searchform, #simpleSearch {
        border-bottom: 1em #fff !important;    
        color:#777 !important;
        background-color: #fff !important;
    }

    #p-search {
        border-bottom: 1em #fff !important;
        border-radius: 1em !important;
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    }
    
    html, body, #mw-head, #mw-panel {
        background-color: #fff !important;
    }

    .toc, .toccolours {
        border: 0.0em solid #ddd !important;
        background-color: #fff !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }

    svg {
        fill: #fff !important;
    }

    .box-Update, .box-Primary_sources, .box-More_citations_needed, .box-More_citations_needed tbody tr td, .box-Expert_needed, .box-Merge_from, .box-Multiple_issues, .box-More_footnotes {
        border: 0.0em solid #111213 !important;
        box-shadow: #111213 0em 0em 1em !important;
    }

    table {
        border-color: #333 !important;
    }

    .mw-parser-output .mp-bordered, .mw-parser-output .mp-h2, body.skin-timeless .mw-parser-output .mp-h2 {
        border-color: #333 !important;

    }

    .thumbinner, .thumbimage, .infobox, .toc, .sidebar, table .sidebar, .mwe-popups, .mwe-popups-container {
        box-shadow: 0px 0px 30px 20px rgba(0,0,0,var(--dark-box-shadow)) !important;
        background-color: var(--dark-bg) !important;
    }

    #mw-panel {
        box-shadow: 0px 0px 30px 20px rgba(0,0,0,var(--dark-box-shadow)) !important;
    }

    #searchInput, #searchform, #simpleSearch {
        border-bottom: 1em #fff !important;    
        color:#777 !important;
        background-color: var(--dark-box) !important;
    }

    #p-search {
        border-bottom: 1em #000 !important;
        box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.125);
    }

    li::before, li::marker {
        color:white !important;
    }
    
    .wikitable {
        border: 1px solid #333 !important;
    }

    .infobox {
        background-color: var(--dark-bg) !important;
    }
    
    html, body, #mw-head, #mw-panel, .mw-body, table, div :not(a, a span, a small, .bar, .annot-nude *), .thumbinner {
        background-color: var(--dark-bg) !important;
        color:white !important;
    }

    .toc, .toccolours {
        border: 0.0em solid #111213 !important;
        background-color: var(--dark-bg) !important;
    }
    
    .mw-body {
        border: 1px solid #000 !important;
    }

    a, p a, a span, .toc ul li a, li a, td a, .reference a, .hatnote a, a span i {
        color:#03a5fc !important;
    }
}